security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: account_login
                check_path: account_login
                default_target_path: account_index # Redirige vers le profil
            logout:
                path: account_logout
                target: homepage

    access_control:
        - { path: ^/ads/new, roles: ROLE_ADMIN }
        - { path: ^/ads/.+/edit, roles: ROLE_ADMIN }
