security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: account_login
                check_path: account_login
            logout:
                path: account_logout

    access_control:
        - { path: ^/admin, roles: ROLE_USER }
