.full { min-height: 80vh; }
.container { margin-top: 20px; }

.avatar { max-width: 128px; height: 128px; border-radius: 50%; object-fit: cover; }
.avatar-medium { max-width: 64px; height: 64px; border-radius: 50%; object-fit: cover; }

.starsimg {
    height: 200px; 
    width: 100%;
    display: block;
    object-fit: cover; /
    background-color: #eee; 
}


.avatar-mini {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
}

.annonce-title {
    padding: 6em 1em; 
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    position: relative;
}
