.container{
    margin-top: 20px;
}

htgammeimg{
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.annonce-tittle{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-tittle h1, anonce-tittle p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}


