{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenu.es Chez BabaGarage</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            <a href="#" class="btn btn-primary btn-lg">Voir nos annonces</a>
        </div>
        <h1 class="mt-3 mb-4">Nos voitures haut de gammes</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        AUDI,<strong>29857€</strong>
                    </div>
                    <img src="https://images.unsplash.com/photo-1606152421802-db97b9c7a11b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YXVkaXxlbnwwfHwwfHx8MA%3D%3D" alt="Image de la voiture" class="htgammeimg">
                    <di class="card-title">
                        AUDIA1
                    </di>
                    <p class="card-text">
                        Les informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations, prix, remises et stocks sont donnés à titre indicatif non contractuel et doivent faire l'objet d'une confirmation écrite par nos soins lors de la commande.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Seat Ibiza,<strong>21 600€</strong>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu8PJk9fce6jmBKMKqDiu6YlBC5Fm2vAnyMQ&s" alt="Image de la voiture" class="htgammeimg">
                <div class="card-body">
                    <div class="card-title">
                        Seat Ibiza !
                    </div>
                    <p class="card-text">
                        Les informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations, prix, remises et stocks sont donnés à titre indicatif non contractuel et doivent faire l'objet d'une confirmation écrite par nos soins lors de la commande.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Nouveau GR SPORT II, <strong> 450000€</strong>
                </div>
                <img src="https://toyota-media.ch/__image/a/1576948/alias/xl/v/3/c/18/ar/16-9/fn/2023_HILUX%20GR%20SPORT%20Main%20shots%201.jpg" alt="Image de la voiture" class="htgammeimg">
                <div class="card-body">
                    <div class="card-title">
                        le Hilux atteint de nouveaux sommets
                    </div>
                    <p class="card-text">
                        Les informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations, prix, remises et stocks sont donnés à titre indicatif non contractuel et doivent faire l'objet d'une confirmation écrite par nos soins lors de la commande.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Nos clients hauts de gammes</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <div class="card-title">Thiama Sarr</div>
                    <hr>
                    <div class="card-text">
                        <img src="https://picsum.photos/id/45/367/267" alt="Avatar de Thiama Sarr" class="float-left ms-3">
                        <p> Les informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations, prix, remises et stocks sont donnés à titre indicatif non contractuel et doivent faire l'objet d'une confirmation écrite par nos soins lors de la commande.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Thiama Sarr</h4>
                    <hr>
                    <div class="card-text">
                        <img src="https://picsum.photos/id/45/367/267" alt="Avatar de Thiama Sarr" class="float-left ms-3">
                        <p> Les informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations informations, prix, remises et stocks détaillés dans cette offre peuvent à tout moment être modifiés par le constructeur. Les informations, prix, remises et stocks sont donnés à titre indicatif non contractuel et doivent faire l'objet d'une confirmation écrite par nos soins lors de la commande.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
